<div class="content text-center landing-background w-100">
  <h1>Spice up your life</h1>
  <p style="margin-bottom: 172px;">Bring that spiciness up... to <strong>INFINITY</strong></p>
  <%= link_to "Find your next jetpack experience", jetpacks_path, class: "btn-orange", style: "color: white; text-decoration:none;"%>
</div>
