    <img class="background" src="https://res.cloudinary.com/dm54zi0ff/image/upload/c_crop,e_brightness:-55,h_1996/v1689849110/cassidy-james-blaede-demvKRNvtLY-unsplash_nktzc1.jpg"/>
    <div class="content text-center">
      <div>
        <h1>Spice up your life</h1>
        <p style="margin-bottom: 172px;">bring that spiciness up...to infinity</p>
        <%= link_to "Find your next jetpack experience", jetpacks_path, class: "btn-orange", style: "color: white; text-decoration:none;"%>
      </div>
    </div>
