<div style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url('https://res.cloudinary.com/dm54zi0ff/image/upload/v1689849110/cassidy-james-blaede-demvKRNvtLY-unsplash_nktzc1.jpg'" class="content text-center landing-background w-100">
  <h1>Spice up your life</h1>
  <p style="margin-bottom: 172px;">bring that spiciness up...to infinity</p>
  <%= link_to "Find your next jetpack experience", jetpacks_path, class: "btn-orange", style: "color: white; text-decoration:none;"%>
</div>
