<div class="bg-liability">
  <div class="container col-md-8 col-lg-6 col-xxl-4 bg-light p-3 mb-0">
    <h1 class="text-center border-bottom">Terms and Conditions</h1>
    <h5 class="text-danger text-center">Warning:<br> Renting a jetpack from an anonymous source is a very bad idea.</h5>
    <p>We do not control who uses the jetpacks or how the jetpacks are managed. There are no safety regulations or laws surrounding this. You are on your own.</p>
    <p>I HEREBY ASSUME ALL OF THE RISKS OF PARTICIPATING IN ANY/ALL ACTIVITIES
    being conducted by at including by way of example and not limitation, any risks that may arise from negligence or
    carelessness on the part of the persons or entities being released, from dangerous or defective
    equipment or property owned, maintained, or controlled by them, or because of their possible
    liability without fault.<br><br>
    I CERTIFY that I am physically fit, have sufficiently prepared or trained for participation in this
    activity, and have not been advised to not participate by a qualified medical professional. I
    CERTIFY that there are no health-related reasons or problems which preclude my participation
    in this activity.<br><br>
    I acknowledge that this Accident Waiver and Release of Liability Form will be used by the event
    holders, sponsors, and organizers of the activity in which I may participate, and that it will
    govern my actions and responsibilities at said activity.
    In consideration of my application and permitting me to participate in this activity, I hereby take
    action for myself, my executors, administrators, heirs, next of kin, successors, and assigns as
    follows:<br><br>
    (1) I WAIVE, RELEASE, AND DISCHARGE from any and all liability, including but not
    limited to, liability arising from the negligence or fault of the entities or persons released, for my
    death, disability, personal injury, property damage, property theft, or actions of any kind which
    may hereafter occur to me including my traveling to and from this activity, THE FOLLOWING
    ENTITIES OR PERSONS:
    To Infinity and Beyond.Co.Ltd
    and/or their directors, officers, employees, volunteers, representatives, and agents, and the
    activity holders, sponsors, and volunteers;<br><br>
    (2) INDEMNIFY, HOLD HARMLESS, AND PROMISE NOT TO SUE the entities or persons
    mentioned in this paragraph from any and all liabilities or claims made as a result of participation
    in this activity, whether caused by the negligence of release or otherwise.
    I acknowledge that To Infinity and Beyond.Co.Ltd
    and their directors, officers, volunteers, representatives, and agents are NOT responsible for
    errors, omissions, acts, or failures to act of any party or entity conducting a specific activity on
    their behalf.<br><br>
    I acknowledge that this activity may involve a test of a person's physical and mental limits and
    carries with it the potential for death, serious injury, and property loss. The risks include, but are
    not limited to, those caused by terrain, facilities, temperature, weather, condition of participants,
    equipment, vehicular traffic, lack of hydration, and actions of other people, including, but not
    limited to, participants, volunteers, monitors, and/or producers of the activity. These risks are not
    only inherent to participants, but are also present for volunteers.<br><br>
    I hereby consent to receive medical treatment which may be deemed advisable in the event of
    injury, accident, and/or illness during this activity.<br><br>
    I understand while participating in this activity, I may be photographed. I agree to allow my
    photo, video, or film likeness to be used for any legitimate purpose by the activity holders,
    producers, sponsors, organizers, and assigns.<br><br>
    The Accident Waiver and Release of Liability Form shall be construed broadly to provide a
    release and waiver to the maximum extent permissible under applicable law.<br><br>
    <strong>I CERTIFY THAT I HAVE READ THIS DOCUMENT AND I FULLY UNDERSTAND ITS
    CONTENT. I AM AWARE THAT THIS IS A RELEASE OF LIABILITY AND A
    CONTRACT AND I SIGN IT OF MY OWN FREE WILL. THERE IS A HIGH LIKELIHOOD THAT I WILL DIE IF I USE AN UNREGULATED JETPACK.</strong></p>
  </div>
</div>
