<div class="registration-background">
  <div class="container">
    <h2 class="text-center text-white py-3">Add your jetpack</h2>
    <div class="signup-form">
      <%= render "form", jetpack: @jetpack %>
    </div>
  </div>
</div>
