.navbar-infinity {
  justify-content: space-between;
  background-color: #404040;
  color: #9d9898;
}

.navbar-infinity .navbar-collapse {
  flex-grow: 0;
}

.nav-btn-purple {
  display: block;
  padding: 5px 10px;
  background-color: #502967;
  color: white;
  border-radius: 11px;
  border: 1px solid #BCBCBC;
  text-decoration: none;

  &:hover {
    background-color: #404040;
    color: white;
    text-decoration: none;
  }
}

.navbar-welcome-message {
  color: white;
  margin: 5px;
}
